{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block body%}

<h2 class="fw-bold text-light text-center bg-success p-1 my-3">Forgot password </h2>
<p class=" text-danger text-center p-3 my-3"> Enter your email address, we will send you email to change your password </p>
<form action="" method="post">
    {% csrf_token %}
    <div class="row p-3">
        <div class="col-md-8 mx-auto" >
            <label for="" class="mx-3">{{form.email.label}}</label>
            {{form.email}}
            <input type="submit" class="btn btn-outline-dark btn-sm mx-3" value="Submit">
        </div>
    </div>
</form>

{% endblock body%}