{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block body%}

<h2 class="fw-bold text-light text-center bg-success p-1 my-3">Forgot Change </h2>
<p class=" text-danger text-center p-3 my-3">Enter new password and confirm new password  </p>
<form action="" method="post">
    {% csrf_token %}
    <div class="row p-1">
        <div class="col-md-8 mx-auto" >
            <div class="form-row mt-3">
                <div class="form-group col-md-12 col-12">
                    <label class="col-sm-4 col-form-label">{{form.new_password1.label}} :-</label>
                    {{form.new_password1}}
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="form-group col-md-12 col-12">
                    <label class="col-sm-4 col-form-label">{{form.new_password2.label}} :-</label>
                    {{form.new_password2}}
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="form-group col-md-12">
                    <input type="submit" class="btn btn-outline-dark btn-sm mx-3" value="Submit">
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock body%}